//*-------------------------*/
//* jumbotron
//*-------------------------*/
.jumbotron{
  width: 100%;
  position: relative;
  background-color: #cbd1de;
  overflow: hidden; // 必加 取消圖片噴出去問題
  @include pad(768){
    height: 52rem;
  }
  @include pad(992){
    height: 78.2rem;
  }
  .bannerKV {
    width: 100%;
    @include pad(768){
      width: auto;
      max-width: initial;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .topic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .slogan {
      width: 100%;
      padding: 0px 15px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include pad(768){
        left: 52%;
      }
      @include pad(768){
        width: auto;
        left: 35%;
      }
    }
  }
  .btn-reservation{
    transition: all .6s;
    color: $gray-600;
    &:hover{
      background-color: $secondary;
      color: $white;
      border-color: $secondary;
    }
  }
  .btn-course{
    transition: all .6s;
    &:hover{
      background-color: $primary;
    }
  }
}
