//*-------------------------*/
//* jumbotron
//*-------------------------*/
.jumbotron{
	background-image: url("../../assets/images/banner.jpg");
  height: 58.2rem;
  background-size: cover; 
  background-position: center bottom;
  @include desktop(1400){
    height: 78.2rem;
  }
  .btn-reservation{
    transition: all .6s;
    color: $gray-600;
    &:hover{
      background-color: $secondary;
      color: $white;
      border-color: $secondary;
    }
  }
  .btn-course{
    transition: all .6s;
    &:hover{
      background-color: $primary;
    }
  }
}
