//*-------------------------*/
//* layout
//*-------------------------*/
.logo{
  @include width(9.6rem , 3.1rem);
}
.inputText::placeholder {
  color: $primary;
}
.scheme{
  //圖片區塊
  .imgBox{
    padding-bottom: 70.43%;
    @include pad(768){
      padding-bottom: 34.49%;
    }
    @include pad(992){
      padding-bottom: 69.42%;
    }
  }
}
.swiper{
  user-select: none;
}
.bg-mask{
  transition: all .6s;
  &:hover{
    background-color: rgba($color: $black, $alpha: 0.35);
  }
}
