//*-------------------------*/
//* layout
//*-------------------------*/
.logo{
  @include width(9.6rem , 3.1rem);
}
.inputText::placeholder {
  color: $primary;
}
.swiper{
  user-select: none;
}
//*-------------------------*/
//* courseSearBar
//*-------------------------*/
.courseSearBar{
  .input-group{
    max-width: 23rem;
    @include pad(768){
      max-width: 27rem;
    }
    @include pad(992){
      max-width: 35rem;
    }
  }
}
