<ul class="fixedBar position-fixed top-50 translate-middle-y z-max d-none d-lg-block">
  <li>
    <a href="javascript:;" class="text-primary mb-2">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="javascript:;" class="text-primary mb-2">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="javascript:;" class="text-primary mb-2">
      <i class="fab fa-line"></i>
    </a>
  </li>
</ul>
