<section class="jumbotron <%= current !== 'index' ? 'd-none' : 'true' -%>">
  <div class="container text-white h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-8 offset-lg-1 col-lg-5 text-muted">
        <small class="fz-base mb-2 mb-md-0">健身輕時尚</small>
        <h2 class="fz-xl fz-md-3xl">DOYOGA，做你的瑜珈</h2>
        <p class="fz-m fz-md-l mb-4">多給自己一點時間享受靜謐，傾聽內心的聲音。</p>
        <div class="d-flex">
          <a href="./reservation.html" class="btn btn-lg btn-reservation btn-thirdly fz-m me-2">立即預約</a>
          <a href="./course.html" class="btn btn-lg btn-course btn-secondary text-white fz-m">課程介紹</a>
        </div>
      </div>
    </div>
  </div>
</section>


