<!-- Modal -->
<div class="modal fade courseListModal" id="courseListModal"
data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4 py-8 px-md-6 py-md-16 px-lg-14 bg-secondary position-relative">
      <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="d-md-flex align-items-center">
        <div class="mb-4 mb-md-0 me-md-5 me-lg-10">
          <div class="card position-relative overflow-hidden mx-auto">
            <div class="imgBox">
              <div class="imgBox＿fit">
                <img src="./assets/images/banner5.jpg" class="image" alt="Yoga courseNew">
              </div>
            </div>
          </div>
        </div>
        <div class="txt">
          <h3 class="fz-xl text-truncate text-white">基礎 Basic</h3>
          <div class="d-flex align-items-center text-primary mb-4">
            <span class="text-white me-2">授課老師：Carol Tang</span>
            <span class="fz-s fw-300 bg-primary text-white rounded-pill px-4 py-1">60 min</span>
          </div>
          <p class="mb-4 text-white">使用掛布懸掛在半空，進行哈達瑜珈體位法練習 藉由地心引力的重力原理，鍛鍊核心肌群，舒緩脊椎壓力。 <br>訓練身體協調性，深層放鬆身體。 <br>課堂裡老師會視同學狀況安排教導倒立動作，對於不敢嘗試倒立的同學來說，藉由掛布的支持與保護，加上老師細心指導，讓同學能更快掌握。
          </p>
          <a href="./reservation.html" class="btn btn-lg btn-thirdly fz-m text-primary rounded-3">立即預約</a>
        </div>
      </div>
    </div>
  </div>
</div>
