<section class="subscription bg-primary border-bottom border-white">
  <div class="container text-white">
    <div class="row justify-content-lg-between py-6 py-md-8">
      <div class="col-lg-6">
        <h5 class="fz-l fz-md-xl fw-500 mb-2 mb-lg-0">現在訂閱，獲得課程優惠碼！</h5>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="input-group">
          <input type="email" class="inputText form-control fz-m" placeholder="輸入您的電子信箱">
          <button type="button" class="col-4 btn btn-lg btn-secondary text-white fz-m w-auto px-4 js-subscribe">訂閱</button>
        </div>
      </div>
    </div>
  </div>
</section>




