/*-------------------------*/
/* feel
---------------------------*/
.feel{
  //圖片區塊
  .imgBox{
    padding-bottom: 121.73%;
    @include pad(768){
      padding-bottom: 120%;
    }
  }
  .image{
    transform: scale(1.1);
    transition: all .6s;
    &:hover{
      transform: scale(1);
    }
  }
}
/*-------------------------*/
/* teachers
---------------------------*/
.teachers{
  //圖片區塊
  .imgBox{
    padding-bottom: 116.29%;
  }
  .card-lg img{
    @include pad(768){
      @include width(9.4rem , 9.4rem);
    }
  }
  .teacherPic{
    @include width(4.8rem , 4.8rem);
    @include pad(768){
      @include width(6.8rem , 6.8rem);
    }
  }
}
/*-------------------------*/
/* space
---------------------------*/
.space{
  //圖片區塊
  .imgBox{
    padding-bottom: 127.27%;
    @include pad(768){
      padding-bottom: 126.666%;
    }
    @include pad(992){
      padding-bottom: 126.85%;
    }
  }
}
/*-------------------------*/
/* course
---------------------------*/
.course{
  .outer {
    @include pad(992){
      height: 44.5rem;
    }
  }
  .cardGroup{
    @include pad(992){
      position: absolute;
      top: 6.4rem;
      bottom: 6.4rem;
      right: 0;
    }
  }
  .swiper{
    padding-bottom: 100%;
    @include pad(768){
      height: auto;
      padding-bottom: 0;
    }
    .swiper-wrapper{
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      @include pad(768){
        position: relative;
        height: 32.4rem;
      }
      @include pad(992){
        height: auto;
      }
    }
    .swiper-slide {
      width: calc((100% - 16px) / 2);
      height: calc((100% - 16px) / 2);
      @include pad(768){
        width: 15rem;
        height: calc((100% - 24px) / 2);
      }
      @include pad(992){
        width: 44.5rem;
        height: auto;
      }
    }
  }
}
/*-------------------------*/
/* recommend
---------------------------*/
.recommend{
  .swiper {
    @include width(100% , 100%);
    padding: 0 1.5rem;
    @include pad(768){
      padding: 0;
    }
    @include pad(992){
      padding: 0 1.5rem;
    }
    .swiper-wrapper{
      height: 38.2rem;
      @include pad(768){
        height: 26rem;
      }
      @include pad(992){
        height: 27.4rem;
      }
    }
    .swiper-slide {
      width: 100%;
      height: calc((100% - 16px) / 3);
      @include pad(768){
        width: 33rem;
        height: calc((100% - 16px) / 2);
      }
      @include pad(992){
        width: 35rem;
        height: calc((100% - 30px) / 2);
      }
      & img{
        width: 6rem;
        height: 6rem;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      @include width(3.3rem , 2.3rem);
      top: unset;
      position: absolute;
      bottom: 0 ;
      font-size: 3.3rem;
      z-index: 100;
    }
  }
  // 狀態修改
  .swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after {
    content: ''
  }
  .swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after {
    content: ''
  }
}


