/*-------------------------*/
/* schedule
---------------------------*/
.schedule{
  padding-bottom: 7.2rem ;
  @include pad(768){
    padding-bottom: 5.6rem ;
  }
  @include pad(992){
    padding-bottom: 8rem ;
  }
  .lastTr{
    th,td{
      border-bottom: none;
    }
  }
  .number{
    width: 3.2rem;
  }
  .notes{
    width: 100%;
    @include pad(768){
      width: auto;
      min-width: 51.4rem;
    }
    @include desktop(1024){
      min-width: 57.9rem;
    }
  }
}
