<footer class="footer bg-primary">
  <div class="container">
    <div class="row py-6 py-md-8">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <a href="./index.html">
          <img class="logo" src="./assets/images/DOYOGA@2x.png" alt="logo">
        </a>
        <ul class="d-flex align-items-center">
          <li>
            <a href="javascript:;">
              <i class="fab fa-facebook fz-l me-2"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fab fa-instagram fz-l me-2"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fab fa-line fz-l"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="text-white position-relative">
        <ul class="fw-300">
          <li class="mb-2">
            <a href="./course.html">課程介紹</a>
          </li>
          <li class="mb-2">
            <a href="./surroundings.html">瑜珈空間</a>
          </li>
          <li class="mb-2 mb-md-0">
            <a href="./schedule.html">當月課表</a>
          </li>
        </ul>
        <p class="copyRight position-md-absolute bottom-0 start-md-50 translate-middle-md-x">© 2021. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
