<nav class="navbar navbar-expand-lg navbar-light bg-thirdly py-0">
  <div class="container flex-lg-nowrap py-6 py-lg-5">
    <h1 class="lh-0 text-hide">DOYOGA
      <a class="navbar-brand p-0 m-0" href="./index.html">
        <img class="logo" src="./assets/images/DOYOGA-logo@2x.png" alt="logo">
      </a>
    </h1>
    <button class="navbar-toggler rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="material-icons">reorder</span>
    </button>
    <div class="collapse navbar-collapse flex-lg-grow-0 ju" id="navbarNavDropdown">
      <ul class="navbar-nav m-4 m-lg-0 
      position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg">
        <li class="nav-item me-lg-8">
          <a class="nav-link text-muted text-center" href="./course.html">課程介紹</a>
        </li>
        <li class="nav-item me-lg-8">
          <a class="nav-link text-muted text-center" href="./surroundings.html">瑜珈空間</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted text-center" href="./schedule.html">當月課表</a>
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-center py-1 py-lg-0">
        <a href="./reservation.html" class="btn btn-lg btn-outline-primary fz-base rounded-pill border-1 me-4">
          立即預約
        </a>
        <a href="./contact.html" class="btn btn-outline-primary fz-base rounded-pill border-1">
          聯絡我們
        </a>
      </div>
    </div>
  </div>
</nav>
