// --------------------
// Max-Width
// --------------------
.max-w-0{
  max-width: 0 !important;
}
.max-w-1{
  max-width: 36rem !important;
}
.max-w-2{
  max-width: 42rem !important;
}
.max-w-3{
  max-width: 48rem !important;
}
.max-w-4{
  max-width: 56rem !important;
}
.max-w-5{
  max-width: 64rem !important;
}
.max-w-full{
  max-width: 100% !important;
}
// --------------------
// Min-Width
// --------------------
.min-w-0{
  min-width: 0 !important;;
}
.min-w-5{
  min-width: 82.3rem !important;;
}
.min-w-full{
  min-width: 100% !important;;
}
.min-w-screen {
  min-width: 100vw !important;
}
// --------------------
// Max-height
// --------------------
.max-h-0{
  max-height: 0 !important;
}
.max-h-1{
  max-height: 36rem !important;
}
.max-h-2{
  max-height: 42rem !important;
}
.max-h-3{
  max-height: 48rem !important;
}
.max-h-4{
  max-height: 56rem !important;
}
.max-h-5{
  max-height: 64rem !important;
}
.max-h-full{
  max-height: 100% !important;
}
// --------------------
// Min-height
// --------------------
.min-h-0{
  min-height: 0 !important;;
}
.min-h-full{
  min-height: 100% !important;;
}
.min-h-screen {
  min-height: 100vh !important;
}
