.prepend{
  margin-left: -1px;
}
.append{
  margin-right: -1px;
}
.ms-offset-md-n1{
  @include pad(768){
    margin-left: -8.3333%;
  }
}
.offset-md-2\.5{
  @include pad(768){
    margin-left: calc(16.66667% + 3rem);
  }
}
.offset-lg-0{
  @include pad(992){
    margin-left: 0;
  }
}
.offset-lg-n2{
  @include pad(992){
    margin-left: -16.6666%;
  }
}
