//*-------------------------*/
//* Sass Map
//*-------------------------*/

$theme-box: () !default;
$theme-box: map-merge(
  (
  // key , value
  "primary": blue,
  "danger": red,
  "secondary": orange 
  ),
  $theme-box
);

@each $key , $value in $theme-box{
  .box-#{$key}{
    background-color: $value;
  }
}

// $space: (
//   "0": 0,
//   "1": 0.5rem,   // 8
//   "2": 1rem,     // 16
//   "3": 2rem,     // 32
//   "4": 2.5rem,   // 40
//   "5": 3.5rem,   // 56
//   "6": 4.25rem,  // 64
// );
// // 推擠方向與級距
// @each $name, $number in $space {
//   .mb-#{$name} {
//     margin-bottom: $number;
//   }
//   .pb-#{$name} {
//     padding-bottom: $number;
//   }
//   .py-#{$name} {
//     padding: $number 0;
//   }
// }
