//*-------------------------*/
//* gradient
//*-------------------------*/
// 文字漸層 避免使用letter-spacing 
.text-gradient{
  color: #34849e;
  background: -webkit-linear-gradient( 0deg,#34849e 0,#6db6ca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}
